body {
    background-color: #050a30;
}

.headerbg {
    background-color: #f4f6fc;
}

.header-icons {
    width: 40px;
    height: 40px;
    fill: #050a30;
}

.nav-link {
    margin-left: 8rem;
    margin-right: 4rem;
    font-size: larger;
}

h1 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:#f4f6fc;
    font-size: 2.5vw !important;
}

h2 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style:italic;
    color:#f4f6fc;
    font-size: 2vw !important;
}

h3 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#050a30;
    font-size: 1.3vw !important;
}

p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#f4f6fc;
  font-size: 1.2vw !important;
}

.p-black {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #050a30;
    font-size: 0.9vw !important;  
}

.highlight {
    color: #6a0dad; /* Testo viola per evidenziare sezioni */
    font-weight: bold;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 1vw !important;
}

.custom-button {
    color: #f4f6fc; /* Colore del testo */
    background-color: #ff573300; /* Colore di sfondo */
    border: 2px solid #f4f6fc; /* Bordo */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#f4f6fc;
    font-size: 1vw !important;
    padding: 2vh 5vw;
}

.custom-button:hover {
    background-color: green; /* Cambia colore al passaggio del mouse */
    border-color: #f4f6fc;
    transform: translateY(-5px);
}

.home-hero__socials {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: #f4f6fc;
    padding: 20px;
}

.underline {
    width: 130px; /* Lunghezza della riga */
    height: 4px; /* Spessore della riga */
    background-color: #f4f6fc; /* Colore della riga */
    margin: 8px auto 0; /* Margine sopra e centratura */
}

.underline_h2 {
    width: 28vw; /* Lunghezza della riga */
    height: 4px; /* Spessore della riga */
    background-color: #f4f6fc; /* Colore della riga */
    margin: 8px start 0; /* Margine sopra e centratura */
}


.about-section {
    padding: 60px 0;
    background: #f4f6fc;
    position: relative;
    border-radius: 30px 30px 0 0; /* Angoli arrotondati sopra */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* Ombra leggera */
    width: 90%;
    margin: 0 auto; /* Centra la sezione */
}

.about-container {
    display: flex;
    justify-content: space-between; /* Distribuisce le card con spazio tra di loro */
    gap: 1px; /* Distanza tra le card */
}

.about-card {
    background: #f4f6fc;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    flex: 1; /* Fa sì che tutte le card abbiano la stessa dimensione */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


/* Contenitore principale */
.formcontainer {
    max-width: 70%;
    margin: 50px auto;
}

/* Card contenente il form */
.form-container {
    background: #f4f6fc;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Stile etichette */
label {
    font-size: 2.2rem;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

/* Input e textarea */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f4f6fc;
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 1.5rem;
}

.form-button {
    color: #f4f6fc; /* Colore del testo */
    background-color: #050a30; /* Colore di sfondo */
    border: 2px solid black; /* Bordo */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px !important;
    padding: 12px;

}

.form-button:hover {
    background-color: green; /* Cambia colore al passaggio del mouse */
    border-color: #f4f6fc;
    transform: translateY(-5px);
}

.button-container {
    text-align: center;
}

.copyrightphrase {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#f4f6fc;
    font-size: 0.7vw !important;
}